body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.container{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 80%;
    border: 1px solid black;
}

.show{
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    font-size: 40px;
    color: silver;
    background-color:  rgba(47, 51, 47 , 0.7);
    
}

.sky{
    position: absolute;
    width: 200%;
    height: 80%;
    background-image: url(img/sky.png);
    background-size: 50% 120%;
}

.land{
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 20%;
    background-image: url(img/land.png);
}

.bird{
    position: absolute;
    top: 200px;
    left: 40%;
    width: 33px;
    height: 26px;
    background-image: url(img/bird.png);
    background-position: -8px -10px;
    /* z-index: 1; */
}

.pipeDown{
    position: absolute;
    top: 0;
  
    width: 52px;
    height:200px;
    background: url(img/pipeDown.png);
    background-position:left bottom;
    /* background-size: 100% 100%; */
}

.pipeUp{
    position: absolute;
    bottom: 0;
   
    width: 52px;
    height:200px;
    background: url(img/pipeUp.png);
    background-position:left top;
    /* background-size: 100% 100%; */
}